.emailContainer {
  border: 1px solid #cfd2dc;
  padding: 16px;
  border-radius: 5px;
  margin: 16px;
  color: #636363;
  background: #ffffff;
  display: flex;
  width: 60%;
}
.avatar {
  margin-right: 10px;
  height: fit-content;
  border: 1px solid;
  border-radius: 50%;
  padding: 12px 17px;
  background: #0da6e9;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
}

.emailBody > header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 4px;
  margin: 4px 0px 32px 8px;
}
